<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/pets">Pets</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Form</li>
  </ol>
</nav>

<form (ngSubmit)="save($event)" ngNativeValidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" [(ngModel)]="pet.name" required>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category" name="category" [(ngModel)]="pet.category.id" required>
      <option value="0">- Seleccione -</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter tags" [(ngModel)]="pet.tags" required pattern="^[a-zA-Z]+(,\s*[a-zA-Z]+)*$" />
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
</form>