<div class="my-3 p-3">

  <h2>Categories</h2>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let category of categories">
      <a routerLink="/pets/{{category.id}}">{{ category.name }}</a>
    </li>
  </ul>
</div>


