<div class="my-3 p-3">

  <h2>Pets</h2>
  <a routerLink="/new" class="btn btn-secondary" style="margin-bottom: 20px">Add</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of pets; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ pet.name }}</td>
        <td>{{ pet.category.name }}</td>
        <td>
          <a routerLink="/pets/{{pet.id}}">Edit</a>
          <a href="#" (click)="removePet($event, pet)">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
